/* Për stilin e përgjithshëm */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.App {
  text-align: center;
}

/* Stilizimi i Navbar për ta shtrirë nga cepi në cep */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #FFC9FD;
  width: 100%; /* Shtrije navbar-in në gjithë gjërësinë e ekranit */
  box-sizing: border-box;
  position: fixed; /* Poziciono navbar-in në krye të faqes, gjithmonë i dukshëm */
  top: 0;
  left: 0;
  z-index: 1000; /* Siguro që navbar-i të jetë sipër përmbajtjes së tjera */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);;
  backdrop-filter: blur(10px);
}


.Navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Navbar-logo {
  max-width: 120px;
  height: auto;
  margin-left: 20px;

  
}

.Navbar-text {
  color: white;
  font-size: 1.2rem;

 
}

.background-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Siguro që sfondi të jetë poshtë përmbajtjes */
}

.background-images {
  display: flex;
  width: 300%; /* Për të mbajtur të gjitha imazhet në një linjë */
  height: 100%;
  transition: slide 15s infinite; /* Efekti i kalimit të butë */
}

.background-images img {
  width: 33.3333%; /* Një pjesë e imazheve për secilin imazh */
  height: 100%;
  object-fit: cover; /* Mbush imazhet pa deformuar */
}
/* Animacioni i karuselit */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Përmbajtja e faqes duhet të jetë nën navbar */
.App-content {
  position: relative;
  margin-top: 200px; /* Jepni hapësirë të mjaftueshme për të akomoduar navbar-in */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  
}


/* Stilet për formularin e rezervimeve */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

input, select {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color:#FFC9FD;
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d67bb3;
}

/* Stilet për komponentin e konfirmimit */
.Confirmation {
  text-align: left;
}

.Confirmation h2 {
  color: #e690e9;
}

/* Stilet për oraret */
.Schedule {
  text-align: left;
  margin-bottom: 20px;
}

.Schedule p {
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 5px;
  
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
}


/* Media queries për ekranet më të vogla */
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto; /* Lejo që navbar-i të ketë lartësi të ndryshme në ekranet më të vogla */
  }

  .Navbar-logo {
    margin-right: 0;
    margin-bottom: 0;
  }

  .Navbar-text {
    margin: 0;
  }

  .App-content {
    margin-top: 200px; /* Shto hapësirë më të madhe për navbar-in në ekranet më të vogla */
    max-width: 90%; /* Rregullo për ekranet më të vogla */
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  .App-content {
    max-width: 50%; /* Rregullo për ekranet më të mëdha */
    margin-top: 170px;
  }
}
